.Ham__Icon {
  font-size: 2.5rem !important;
  padding-right: 10px;
  padding-top: 5px;
}
.Ham__menubox {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.Ham__Icon:hover {
  transform: scale(1.1);
}
.MuiDrawer-paper {
  background-color: #332924 !important;
}
.MuiListItem-root {
  color: #9cb380 !important;
}
.MuiListItem-root:hover {
  color: #414535 !important;
}
