.About__Container {
  background: linear-gradient(#332924, #251b18);
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.About__Img {
  width: 220px;
  padding-top: 10px;
}
.About__Text {
  width: 80%;
  color: #9cb380;
}
.About__Text > h3 {
  padding-bottom: 20px;
  font-size: 1.3rem;
}
.About__Text > h1 {
  padding-bottom: 20px;
  font-size: 2rem;
}
