.Connect__Container {
  display: flex;
  justify-content: space-around;
  color: #9cb380;
  padding-bottom: 40px;
  background: linear-gradient(to top, #332924, #251b18);
  align-items: center;
  flex-wrap: wrap;
}
.Connect__Texts {
  display: flex;
  align-items: center;
  font-size: 16pt;
}
h3 {
  padding-bottom: 10px;
}
.Connect__Img {
  width: 250px;
}
h3:first-child {
  padding-top: 10px;
}
